lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

#node project files
npm-debug.log
node_modules

#dreamweaver sync
_notes

#project specific - wordpress and gh-pages upload locations
svn
gh-pages

#build files
*.min.css
*.min.js

