lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

#node project files
npm-debug.log
node_modules

#dreamweaver sync
_notes

#project specific - wordpress upload locations
svn
release
zips
crafty-social-buttons

#build files
*.min.css
*.min.js

