/* CSS Document */

body {padding-top: 40px; font: 20px Corbel, Calibri, Verdana, Tahoma, Geneva, sans-serif; }
section{ margin-top: 3em; margin-bottom: 6em; }
.navbar-brand { padding: 15px 15px 0 15px;}
h1, h2, h3, h4, h5, h6,
.jumbotron { font-family: "Architects Daughter" }

.jumbotron { background: #eee url(../img/banner.jpg) bottom center repeat-x }
.jumbotron h1 { font-size: 4em; color: #fff; text-shadow: #666 2px 2px 5px }
.jumbotron small {color: #fff; }
.jumbotron p { font-size: 1.2em; color: #eee; font-weight: bold; text-shadow: #666 2px 2px 5px; }
.jumbotron ul { background: rgba(255, 204, 204, 0.45); margin: 1em; border-radius: 10px; 
	list-style-image: url('../img/icon-tick.png');
}
.jumbotron .icons {margin-top: 1em; }
