/* == General styles for displaying buttons == */

div.crafty-social-buttons {
	margin: 0.3em 0;
    clear: both;
}

div.crafty-social-buttons-align-left {
    text-align: left;
}

div.crafty-social-buttons-align-center {
    text-align: center;
}

div.crafty-social-buttons-align-right {
    text-align: right;
}

div.crafty-social-buttons .crafty-social-caption {
	display: inline-block;
	padding-right: 1em;
	vertical-align: top;
	font-size: 1.2em;
}

div.crafty-social-buttons-caption-block .crafty-social-caption {
    display: block;
    padding-right: 0;
}

div.crafty-social-buttons  ul {
 	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

div.crafty-social-buttons ul li {
	display: inline-block;
	margin: 0 0.2em;
	padding: 0;
}

div.crafty-social-buttons ul li a {
   text-decoration: none;
   border: none;
}
div.crafty-social-buttons ul li img {
   display: inline-block;
}

/* == Styles specific to showing share counts == */
div.crafty-social-buttons .crafty-social-share-count:after, 
div.crafty-social-buttons .crafty-social-share-count:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}
div.crafty-social-buttons .crafty-social-share-count:after {
	border-color: rgba(224, 221, 221, 0);
	border-right-color: #f5f5f5;
	border-width: 5px;
	top: 50%;
	margin-top: -5px;
} 
div.crafty-social-buttons .crafty-social-share-count:before {
	border-color: rgba(85, 94, 88, 0);
	border-right-color: #e0dddd;
	border-width: 6px;
	top: 50%;
	margin-top: -6px;
}
div.crafty-social-buttons .crafty-social-share-count {
	font: 18px Arial, Helvetica, sans-serif;
	color: #555e58;
	padding: 5px;
	-khtml-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	background: #f5f5f5;
	border: 1px solid #e0dddd;
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    min-width: 24px;
    text-align: center;
}

div.crafty-social-buttons.crafty-social-buttons-size-2 .crafty-social-share-count {
    min-width: 14px;
    font-size: 12px;
}
div.crafty-social-buttons.crafty-social-buttons-size-3 .crafty-social-share-count {
    min-width: 16px;
    font-size: 14px;
}
div.crafty-social-buttons.crafty-social-buttons-size-4 .crafty-social-share-count {
    min-width: 20px;
    font-size: 16px;
}
div.crafty-social-buttons.crafty-social-buttons-size-5 .crafty-social-share-count {
    min-width: 24px;
    font-size: 18px;
}
div.crafty-social-buttons.crafty-social-buttons-size-6 .crafty-social-share-count {
    min-width: 24px;
    font-size: 20px;
}

div.crafty-social-share-buttons.crafty-social-buttons-floating {
   position: fixed;
   left: 0;
   top: 20%;
}

div.crafty-social-share-buttons.crafty-social-buttons-floating ul li {
   display: block;
   margin-left: 0;
   margin-right: 0;
}

div.crafty-social-share-buttons.crafty-social-buttons-floating .crafty-social-caption {
   display: none;
}
div.crafty-social-share-buttons.crafty-social-buttons-floating .crafty-social-share-count:after,
div.crafty-social-share-buttons.crafty-social-buttons-floating .crafty-social-share-count:before {
   content: "";
   border: none;
   margin: 0;
   padding:0;
}
div.crafty-social-buttons.crafty-social-buttons-floating .crafty-social-share-count {
   display:block;
   margin:0;
}


div.crafty-social-share-buttons.crafty-social-buttons-floating.crafty-social-buttons-floating-top-10 {
   top: 10%;
}
div.crafty-social-share-buttons.crafty-social-buttons-floating.crafty-social-buttons-floating-top-20 {
   top: 20%;
}
div.crafty-social-share-buttons.crafty-social-buttons-floating.crafty-social-buttons-floating-top-30 {
   top: 30%;
}
div.crafty-social-share-buttons.crafty-social-buttons-floating.crafty-social-buttons-floating-top-40 {
   top: 40%;
}
div.crafty-social-share-buttons.crafty-social-buttons-floating.crafty-social-buttons-floating-top-50 {
   top: 50%;
}
div.crafty-social-share-buttons.crafty-social-buttons-floating.crafty-social-buttons-floating-align-left {
   left: 0;
   right: auto;
}

div.crafty-social-share-buttons.crafty-social-buttons-floating.crafty-social-buttons-floating-align-right {
   right: 0;
   left: auto;
}

div.crafty-social-share-buttons ul li a.crafty-social-button.csb-whatsapp { display: none; }